/*MAP FOR NAVIGATION LINKS MENU*/
@font-face {
  font-family: "RobotoMedium";
  src: url("../public/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../public/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../public/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../public/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("../public/fonts/Roboto-Light.ttf");
}
.banner__btn {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
  font-size: 20px;
  padding: 20px 60px;
  background-color: #8d5ec2;
}
.banner__btn:hover {
  background-color: #9b74c5;
  color: #000000;
}
.banner__btn:active {
  position: relative;
  top: 1px;
}

.nav {
  width: 100%;
}
.nav ul {
  float: right;
  margin-right: 50px;
}
.nav ul li {
  margin-right: 20px;
}
.nav__link {
  display: inline;
}
.nav__link a {
  color: #ffffff;
  text-decoration: none;
  font-family: "RobotoMedium";
}
.nav__link a:hover {
  color: #b1b1b1;
}
.nav__link input {
  margin-left: 40px;
}

.header {
  background-color: #0081d1;
  display: flex;
  padding: 10px;
}

.header__logo {
  width: 60px;
}

.banner {
  background-image: url("../public/images/img_banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  width: 100%;
  height: 500px;
}

.container {
  margin: 0 12%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation-grid__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}

.presentation-prev {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.presentation-prev__description {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "RobotoLight";
}
.presentation-prev__description > h2 {
  justify-content: center;
  font-family: "RobotoRegular";
}
.presentation-prev__image {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.films-comming-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.films-comming-grid__heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}

.films-comming-prev {
  display: flex;
  justify-content: center;
}
.films-comming-prev .films-comming {
  display: flex;
  justify-content: center;
}
.films-comming-prev .films-comming__card {
  background-color: #008c7a;
  font-family: "RobotoLight";
  margin: 25px;
}
.films-comming-prev .films-comming__card-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.films-comming-prev .films-comming__card-body__description {
  display: flex;
  flex-direction: column;
}
.films-comming-prev .films-comming__card-body > img {
  width: 100%;
}
.films-comming-prev .films-comming__card-body > button {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
  padding: 0.5em;
}

/*# sourceMappingURL=style.css.map */
