html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../public/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../public/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../public/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../public/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("../public/fonts/Roboto-Light.ttf");
}
.btn {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
}
.btn--large {
  font-size: 20px;
  padding: 20px 60px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: 0.5em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 0.3em;
  padding: 1em;
  margin-right: 1em;
}
.nav > ul {
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: center;
  padding-top: 1em;
}
.nav > ul.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__link {
  display: inline;
  margin-right: 3em;
}
.nav__link a {
  color: #ffffff;
  text-decoration: none;
  font-family: "RobotoMedium";
  display: block;
}
.nav__link a:hover {
  color: #b1b1b1;
}
.nav__link input {
  border-radius: 0.3em;
  border: none;
  padding: 0.4em;
  margin-right: 0.5em;
}
.nav__link span {
  background-color: white;
  padding: 0.2em 0.2em 0.3em 0.2em;
  border-radius: 0.1em;
  cursor: pointer;
}
.nav__link span:hover {
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
}
@media (max-width: 809px) {
  .nav {
    position: fixed;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.747);
    line-height: 2em;
  }
}
@media (min-width: 810px) {
  .nav-toggle {
    display: none;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.hamburger {
  content: "";
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  transition: all ease-in-out 350ms;
}
.hamburger::before {
  transform: translateY(-7px);
  content: "";
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  transition: all ease-in-out 350ms;
}
.hamburger::after {
  transform: translateY(4px);
  content: "";
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  transition: all ease-in-out 350ms;
}

.open .hamburger {
  transform: rotate(45deg);
}
.open .hamburger::before {
  display: none;
}
.open .hamburger::after {
  transform: translateY(-1px) rotate(-90deg);
}

.header {
  background-color: #0081d1;
  display: flex;
}

.header__logo > img {
  width: 60px;
  margin: 1em;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/img_banner.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-color: #464646;
  width: 100%;
  height: 500px;
}

.banner .btn {
  background-color: #8d5ec2;
}
.banner .btn:hover {
  background-color: #9b74c5;
  color: #000000;
}
.banner .btn:active {
  position: relative;
  top: 1px;
}
.banner .btn > a {
  text-decoration: none;
}

.container {
  margin: 0 12%;
}
@media screen and (max-width: 1500px) {
  .container {
    margin: 3%;
  }
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  padding: 5em 10em 5em 10em;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "RobotoLight";
}
@media screen and (max-width: 599px) {
  .footer-grid {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0 30% 5% 30%;
  }
}
@media screen and (max-width: 991px) {
  .footer-grid {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0 30% 5% 30%;
  }
}

.site-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-map__heading {
  padding: 0;
}
.site-map-nav {
  background-color: #929292;
  padding: 1em 3em 1em 3em;
  border: solid #0088bc;
  text-align: center;
}
.site-map-nav__link {
  list-style: none;
}
.site-map-nav__link > a {
  color: #ffffff;
  text-decoration: none;
}
.site-map-nav__link > a:hover {
  color: #b1b1b1;
}

.newsletter {
  flex-grow: 0.3;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
}
.newsletter-form > input {
  border-color: #0088bc;
  margin: 1em 0 1em 0;
  padding: 0.5em;
}
.newsletter-form__btn {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
  width: 6em;
  padding: 0.5em;
  background-color: #8d5ec2;
  transition-duration: 1s;
}
.newsletter-form__btn--large {
  font-size: 20px;
  padding: 20px 60px;
}
.newsletter-form__btn:hover {
  background-color: #9b74c5;
  transition-duration: 1s;
}

.presentation-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation-grid__heading {
  display: flex;
  justify-content: center;
  margin: 3em;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}
.presentation-prev {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.presentation-prev__description {
  padding: 1em;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "RobotoLight";
}
.presentation-prev__description > h2 {
  justify-content: center;
  font-family: "RobotoRegular";
}
.presentation-prev__image {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .presentation-prev {
    display: flex;
    flex-direction: column-reverse;
  }
  .presentation-prev__description {
    width: 80%;
  }
  .presentation-prev__image {
    width: 80%;
  }
}
@media screen and (max-width: 991px) {
  .presentation-prev {
    display: flex;
    flex-direction: column-reverse;
  }
  .presentation-prev__description {
    width: 80%;
  }
  .presentation-prev__image {
    width: 80%;
  }
}

.films-comming {
  display: flex;
  justify-content: center;
}
.films-comming__card {
  border-radius: 0.5em;
  background-color: #008c79d0;
  font-family: "RobotoLight";
  margin: 25px;
  transition-duration: 1s;
}
.films-comming__card:hover {
  box-shadow: 0px 3px 30px 0px #424242;
  transition-duration: 1s;
}
.films-comming-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.films-comming-grid__heading {
  margin: 3em;
  display: flex;
  justify-content: center;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}
.films-comming-prev {
  display: flex;
  justify-content: center;
}
.films-comming-card-body {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.films-comming-card-body__img {
  width: 100%;
}
.films-comming-card-body__btn {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
  padding: 0.8em;
  margin: 0.5em;
  border-radius: 0.4em;
  color: white;
  background-color: #6e99e9;
  transition-duration: 1s;
}
.films-comming-card-body__btn--large {
  font-size: 20px;
  padding: 20px 60px;
}
.films-comming-card-body__btn:hover {
  color: black;
  background-color: #9b74c5;
  transition-duration: 1s;
}
.films-comming-card-body__description {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 0.3em;
}
@media screen and (max-width: 599px) {
  .films-comming {
    width: 70%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 760px) {
  .films-comming {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .films-comming {
    width: 70%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 760px) {
  .films-comming {
    width: 90%;
  }
}

.presentation-film-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation-film-grid__heading {
  display: flex;
  justify-content: center;
  margin: 3em;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}
.presentation-film-prev {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.presentation-film-prev__description {
  padding: 1em;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "RobotoLight";
}
.presentation-film-prev__description > h2 {
  justify-content: center;
  font-family: "RobotoRegular";
}
.presentation-film-prev__image {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .presentation-film-prev {
    display: flex;
    flex-direction: column;
  }
  .presentation-film-prev__description {
    width: 80%;
  }
  .presentation-film-prev__image {
    width: 80%;
  }
}
@media screen and (max-width: 991px) {
  .presentation-film-prev {
    display: flex;
    flex-direction: column;
  }
  .presentation-film-prev__description {
    width: 80%;
  }
  .presentation-film-prev__image {
    width: 80%;
  }
}

.films-similar {
  display: flex;
  justify-content: center;
}
.films-similar__card {
  border-radius: 0.5em;
  background-color: #008c79d0;
  font-family: "RobotoLight";
  margin: 25px;
  transition-duration: 1s;
}
.films-similar__card:hover {
  box-shadow: 0px 3px 30px 0px #424242;
  transition-duration: 1s;
}
.films-similar-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.films-similar-grid__heading {
  margin: 3em;
  display: flex;
  justify-content: center;
  font-family: "RobotoRegular";
  order: -1;
  flex: 1 0 100%;
}
.films-similar-prev {
  display: flex;
  justify-content: center;
}
.films-similar-card-body {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.films-similar-card-body__img {
  width: 100%;
}
.films-similar-card-body__btn {
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
  padding: 0.8em;
  margin: 0.5em;
  border-radius: 0.4em;
  color: white;
  background-color: #6e99e9;
  transition-duration: 1s;
}
.films-similar-card-body__btn--large {
  font-size: 20px;
  padding: 20px 60px;
}
.films-similar-card-body__btn:hover {
  color: black;
  background-color: #9b74c5;
  transition-duration: 1s;
}
.films-similar-card-body__description {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 0.3em;
}
@media screen and (max-width: 599px) {
  .films-similar {
    width: 70%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 760px) {
  .films-similar {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .films-similar {
    width: 70%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 760px) {
  .films-similar {
    width: 90%;
  }
}

.inscription-film-prev {
  margin-top: 5em;
  display: flex;
  align-items: center;
  background-color: #8d5ec2;
}
@media screen and (max-width: 1000px) {
  .inscription-film-prev {
    flex-direction: column;
  }
}
.inscription-film-prev__map {
  width: 50%;
  height: 400px;
  background-color: grey;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .inscription-film-prev__map {
    width: 100%;
  }
}
.inscription-film-form {
  padding: 1%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: "RobotoLight";
}
@media screen and (max-width: 991px) {
  .inscription-film-form {
    flex-direction: column;
    width: 100%;
  }
}
.inscription-film-form-elem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.inscription-film-form-elem__input {
  padding: 3%;
  margin: 3%;
}
.inscription-film-form__btn {
  background-color: #3c73d3;
  transition-duration: 1s;
  cursor: pointer;
  font-family: "RobotoLight";
  text-decoration: none;
  border: none;
}
.inscription-film-form__btn--large {
  font-size: 20px;
  padding: 20px 60px;
}
.inscription-film-form__btn:hover {
  background-color: #0088bc;
  transition-duration: 1s;
}

/*# sourceMappingURL=style.css.map */
