.banner {
    &__btn {
        @include btn;
        background-color: $color-action;
        &:hover {
            background-color:$color-action-hover;
            color: $color-black;
        }
        &:active {
            position:relative;
            top:1px;
        }
    }
}