
@mixin search-date {
    &-search {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        @media screen and (max-width: map-get($breakpoints,tablet)) {
            flex-direction: column;
            width: 100%;
        }
        &-form {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: 'RobotoLight';
            margin:1em;
            &__btn {
                background-color: $color-active; 
                transition-duration: 1s;
                padding:1em;
                margin:1em;
                @include btn;
                &:hover {
                    background-color:$color-secondary;
                    transition-duration: 1s;
                }
            }
            &-elem {
                display: flex;
                justify-content: center;
                flex-direction: row;
                width: 40%;
                align-items: center;
                @media screen and (max-width: map-get($breakpoints,tablet)) {
                    flex-direction: column;
                    width: 100%;
                }
                &__input {
                    padding: 5%;       
                    margin:0.2em;      
                }
            }
        }
    }
}

.select2 {
    &-container {
        width: 165px !important;
        font-family: "RobotoLight";
    }
    &-selection--multiple {
        border-radius: 0 !important;
        padding: 1%;      
        margin:0.2em; 
    }
    
}

 
 