@mixin card_component {
    @include card;
    &-grid {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        &__heading {
            margin: 3em;
            display: flex;
            justify-content: center;
          
            font-family: 'RobotoRegular';
            order: -1;
            flex: 1 0 100%;
        }
    }
    &-prev {
        display: flex;
        justify-content: center;
    }
    
    &-card-body {
        @include card-body;
    }
}

@mixin card {
    &__card {
        border-radius: 0.5em;
        background-color: $color-card;
        font-family: 'RobotoLight';
        margin: 25px;
        transition-duration: 1s;
        &:hover {
            box-shadow: 0px 3px 30px 0px rgba(66, 66, 66, 1);
            transition-duration: 1s;
        }
    }
}

@mixin card-body {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        width: 100%;
    }
    &__btn {
        @include btn;
        padding: 0.8em;
        margin: 0.5em;
        border-radius: 0.4em;
        color: white;
        background-color: $btn-secondary;
        transition-duration: 1s;
    }
    &__btn:hover {
        color: black;
        background-color: $color-action-hover;
        transition-duration: 1s;
    }
    &__description {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin: 1em;
        background-color: $color-white;
        border-radius: 0.3em;
    }
}

@mixin responsive_card {
    @each $device, $breackpoint in $breakpoints {
        @media screen and (max-width: map-get($breakpoints, $device)){
            width: 70%;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 760px){
            width: 90%;
        }
    }
}