@mixin card_component($card-type) {
    @include card;
    &-grid {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: "RobotoRegular";
        &__heading {
            margin: 3em;
            display: flex;
            justify-content: center;
            font-family: 'RobotoRegular';
            order: -1;
            flex: 1 0 100%;
        }
    }
    &-prev {
        display: flex;
        align-items: center;

         @if($card-type == "card") {
            display: flex;
            justify-content: center;
        }@else {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
    }
    
    &-card-body {
        @include card-body($card-type);
    }
}

@mixin card {
    &__card {
        border-radius: 0.5em;
        background-color: $color-card;
        font-family: 'RobotoLight';
        margin: 25px;
 
        transition-duration: 1s;
        &:hover {
            box-shadow: 0px 3px 30px 0px rgba(66, 66, 66, 1);
            transition-duration: 1s;
        }
    }
}

@mixin card-body($card-type) {
    display: flex;
    align-items: center;
    @if($card-type == "card") {
        flex-direction: column;
        &__img {
            width: 100%;
        }
    }@else {
        flex-direction: row;
        &__img {
            width: 20%;
            margin:1em;
        }
    }

    &__btn {
        @include btn;
        padding: 0.8em;
        margin: 0.5em;
        border-radius: 0.4em;
        color: white;
        background-color: $btn-secondary;
        transition-duration: 1s;
    }
    &__btn:hover {
        color: black;
        background-color: $color-action-hover;
        transition-duration: 1s;
    }
    &__description {
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 80%;
        margin: 1em;
        background-color: $color-white;
        border-radius: 0.3em;
    }
}

@mixin responsive_card {
    @each $device, $breackpoint in $breakpoints {
        @media screen and (max-width: map-get($breakpoints, $device)){
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 70%;
            flex-wrap: wrap;
            align-items: center;
        }
        @media screen and (max-width: 700px){
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
        }
    }
}