@font-face {
    font-family: 'RobotoMedium';
    src: url('../public/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../public/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../public/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../public/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../public/fonts/Roboto-Light.ttf');
}
