.presentation-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading {
        display: flex;
        justify-content: center;
        margin: 3em;
        font-family: 'RobotoRegular';
        order: -1;
        flex: 1 0 100%;
    }
}

.presentation-prev {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__description {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'RobotoLight';
 
    }
    &__description > h2 {
        justify-content: center;
        font-family: 'RobotoRegular';
    }
    &__image  {
        width: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.films-comming-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading {
        margin: 3em;
        display: flex;
        justify-content: center;
      
        font-family: 'RobotoRegular';
        order: -1;
        flex: 1 0 100%;
    }
}

.films-comming-prev {
    display: flex;
    justify-content: center;
}

.films-comming {
    display: flex;
    justify-content: center;
    @include card;
}

.films-comming-card-body {
    @include card-body;
}