body {
    padding:0;
    margin:0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        font-family: 'RobotoRegular';
        order: -1;
        flex: 1 0 100%;
    }
}

.presentation-prev {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    &__description {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'RobotoLight';
        padding: 5%;
    }
    &__description > h2 {
        justify-content: center;
        font-family: 'RobotoRegular';
    }
    &__image  {
        width: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.films-comming-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        font-family: 'RobotoRegular';
        order: -1;
        flex: 1 0 100%;
    }
}

.films-comming-prev {
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    .films-comming {
        padding: 20px;
        width: 80%;
        display: flex;
        justify-content: center;
        &__card {
            background-color: $color-card;
            width: 100%;
            font-family: 'RobotoLight';
            margin: 20px;
        }
        &__card > img {
            width: 100%;
            text-align: center;
        }
    }
}