@mixin nav-text-palette($palettes) {
    @each $state, $palette in $palettes {
        &:#{$state} {
            color: map-get($palette, txt);
        }

    }
}

@mixin btn {
	cursor:pointer;
	font-family: 'RobotoLight';
    text-decoration:none;
    border:none;
    &--large {
        font-size:20px;
        padding:20px 60px;
    }
}

@mixin presentation_grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading {
        display: flex;
        justify-content: center;
        line-height: 1em;
        margin: 3em;
        font-family: 'RobotoRegular';
        text-align: center;
        order: -1;
        flex: 1 0 100%;
    }
}

@mixin presentation_card($size-description) {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__description {
        padding: 1em;
        width: $size-description;
        display: flex;
        flex-wrap: wrap;
        font-family: 'RobotoLight';
    }
    &__description > h2 {
        justify-content: center;
        font-family: 'RobotoRegular';
    }
    &__image {
        width: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@mixin responsive_presentation($direction) {
    @each $device, $breackpoint in $breakpoints {
        @media screen and (max-width: map-get($breakpoints, $device)){
            display: flex;
            flex-direction: $direction; 
            &__description {
                width: 80%;
            }
            &__image  {
                width: 80%;
            }
        }
    }
}

