$color-primary: #0081d1;
$color-secondary: #0088bc;
$color-action: #8d5ec2;
$color-action-hover: #9b74c5;
$color-active: #3c73d3;
$color-card: #c9e6f1;
$color-text-hover: #b1b1b1;
$color-black: #000000;
$color-footer:  #0f0f0f;
$color-footer-secondary: #929292;
$color-white: #ffffff;
$btn-secondary: #6E99E9;

$nav-text-palette: (
    hover: (
        txt: $color-text-hover
    )
);

$breakpoints: (
  mobile: 599px,
  tablet: 991px
);
