.footer {
    
}
.footer-grid {
    display: flex;
    justify-content: space-between;
    padding: 5em 10em 5em 10em;
    background-color: $color-footer;
    color: $color-white;
    font-family: 'RobotoLight';
    @include responsiveFooter;
}

.site-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__heading {
        padding: 0;
    }
    &-nav{
        background-color: $color-footer-secondary;
        padding: 1em 3em 1em 3em;
        border: solid  $color-secondary;
        text-align: center;
        &__link {
            list-style: none;
        }
        &__link > a {
            color: $color-white;
            text-decoration: none;
            @include nav-text-palette($nav-text-palette);
        }
    }
}

.newsletter {
    flex-grow: 0.3;
    &-form {
        display: flex;
        flex-direction: column;
    

        & > input {
            border-color: $color-secondary;
            margin: 1em 0 1em 0;
            padding: 0.5em;
        }
        &__btn{
            @include btn;
            width: 6em;
            padding: 0.5em;
            background-color: $color-action;
            transition-duration: 1s;
            &:hover {
                background-color: $color-action-hover;
                transition-duration: 1s;
            }
        }
    }
}